@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: #16a34a; /* green-600 */
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
